.cloudflare-edge-cert
!**/*secret.yml.example
**/*secret.yml

secrets/
compose/.env
compose/config/traefik/origin-cert.pem
compose/config/traefik/origin-key.pem
*.tfstate*
**tfplan*
.terraform/
backend.hcl
./ansible
