apiVersion: v1
kind: Secret
metadata:
  name: common-secret
  namespace: cash-track
stringData:
  S3_REGION: us-east-1
  S3_ENDPOINT: https://ams3.digitaloceanspaces.com
  MAIL_HOST: smtp.eu.mailgun.org
  MAIL_PORT: '587'
data:
  S3_KEY: <S3_KEY>
  S3_SECRET: <S3_SECRET>
  MAIL_USERNAME: <MAIL_USERNAME>
  MAIL_PASSWORD: <MAIL_PASSWORD>
  CAPTCHA_CLIENT_KEY: <CAPTCHA_CLIENT_KEY>
  CAPTCHA_SECRET_KEY: <CAPTCHA_SECRET_KEY>
