apiVersion: v1
kind: Secret
metadata:
  name: common-secret
  namespace: cash-track
stringData:
  S3_REGION: 'us-east-1'
  S3_ENDPOINT: 'https://ams3.digitaloceanspaces.com'
  MAIL_HOST: 'smtp.eu.mailgun.org'
  MAIL_PORT: '587'
  GOOGLE_API_PROJECT_ID: 'cash-track-ml'
  GOOGLE_API_AUTH_URI: 'https://accounts.google.com/o/oauth2/auth'
  GOOGLE_API_TOKEN_URI: 'https://oauth2.googleapis.com/token'
  GOOGLE_API_AUTH_PROVIDER_X509_CERT_URL: 'https://www.googleapis.com/oauth2/v1/certs'
  GOOGLE_API_REDIRECT_URI: 'https://cash-track.app/login/google'
data:
  S3_KEY: <S3_KEY>
  S3_SECRET: <S3_SECRET>
  MAIL_USERNAME: <MAIL_USERNAME>
  MAIL_PASSWORD: <MAIL_PASSWORD>
  CAPTCHA_CLIENT_KEY: <CAPTCHA_CLIENT_KEY>
  CAPTCHA_SECRET_KEY: <CAPTCHA_SECRET_KEY>
  GOOGLE_API_CLIENT_ID: <GOOGLE_API_CLIENT_ID>
  GOOGLE_API_CLIENT_SECRET: <GOOGLE_API_CLIENT_SECRET>
