apiVersion: v1
kind: Secret
metadata:
  name: api-secret
  namespace: cash-track
data:
  ENCRYPTER_KEY: <ENCRYPTER_KEY>
  JWT_SECRET: <JWT_SECRET>
  JWT_PUBLIC_KEY: <JWT_PUBLIC_KEY>
  JWT_PRIVATE_KEY: <JWT_PRIVATE_KEY>
