apiVersion: v1
kind: Secret
metadata:
  name: mysql-exporter-secret
  namespace: cash-track
data:
  # See https://github.com/prometheus/mysqld_exporter
  # DATA_SOURCE_NAME: user:password@(hostname:3306)/

  DATA_SOURCE_NAME: <DATA_SOURCE_NAME>
